* {
    margin: 0;
    padding: 0;
}
.container {
    width: 960px;
    margin: 0 auto;
}
nav {
    
    background: rgb(230, 105, 105);
}
.nav-con {
    background: rgb(230, 105, 105);
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
}
ul.menu {
    display: flex;
    list-style: none;
}
ul.menu li {
    margin-left: 1rem;
}
ul.menu li a{
    color: #fff;
    text-decoration: none;
}
header {
    overflow: hidden;
    height: 300px;
    /* border: 1px solid black; */
    background: url("https://images.unsplash.com/photo-1465056836041-7f43ac27dcb5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fG1vdW50YWlufGVufDB8fDB8fHww") no-repeat;
   
    background-size: cover;
    background-position: center;
}
.header-info {

    /* border: 1px solid red; */
    width: 500px;
    margin-top: 4rem;
    margin-left: 4rem;
    color: #fff;
}
.header-info h1 {
    font-size: 3rem;
}

.header-info p {
    margin: 1rem 0;
    line-height: 1.5;
}
.header-info a {
    color: #fff;
    border: 1px solid #fff;
    padding: .5rem 1rem;
    display: inline-block;
    text-decoration: none;
}
main {
    padding: 3rem 0;
}
main > h1 {
   
    text-align: center;
    margin-bottom: 1rem;
}
.picture {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.picture figure img {
    width: 100%;
    height: 300px;
}
footer {
    background: rgb(230, 105, 105);
    text-align: center;
    padding: 2rem;
}